### STS ###
HELP.md
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.xml
bin/
/src/main/generated/
/src/main/resources/static/

# === OS ===
Thumbs.db
.DS_Store

# === Gradle ===
.gradle
build/

# === Logs ===
*.log

# === Application secrets ===
application-*.yml
application-*.properties
